<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <center class="roleswithjs">


<fieldset class="large-6">
    <div class="row">
      <%= f.email_field :email, :placeholder => "Email Address" %>
    </div>
    <div class="row">
      <%= f.password_field :password, :placeholder => "Password"  %>
      </div>
    <div class="row">
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password"  %>
    </div>
      <div><%= f.submit "Sign up" %></div>
    <% end %>


<%= render :partial => "devise/shared/links" %>
</fieldset>
