<h1>Listing students</h1>

<table>
  <tr>
    <th>Student</th>
    <th>LinkedIn</th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><a href="<%= student.profile %>" target="_blank"><%= student.profile %></a></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New student', new_student_path %>
<%= link_to 'Pick your mentor', mentors_path %>
