<h1>Listing camps</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @camps.each do |camp| %>
  <tr>
    <td><%= camp.description %></td>
    <td><%= link_to 'Show', camp %></td>
    <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
    <td><%= link_to 'Destroy', camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Camp', new_camp_path %>
