<p id="notice"><%= notice %></p>


<p>
  <b>Bootcamp:</b>
  <%= @camp.description %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>LinkedIn</th>
    <th></th>
    <th></th>
  </tr>

<% @camp.students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><a href="<%= student.profile %>" target="_blank"><%= student.profile %></a></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
