<%= form_for @notification do |f| %>
	<% mentors = Mentor.joins(:user).where("approval = ?", 1).order(:personal_first_name) %>
	<% students = Student.joins(:user).where("approval = ?", 1).order(:personal_first_name) %>
	<table width="100%">
		<tr>
			<td colspan="2">Notify who?</td>
		</tr>
		<tr>
			<td valign="top">
				<% if mentors.presence %>
					<div>
						<b>Mentors</b> <br>
						<%	mentors.each do |mentor| %>
							<%= check_box_tag "mentor_ids[]",
								mentor.id,
								checked = false %>
							<%= mentor.personal_first_name %>
							<%= mentor.personal_last_name %><br>
						<% 	end
						end %>
					</div>
			</td>
			<td valign="top">
				<% if students.presence %>
					<div>
						<b>Students</b> <br>
						<% students.each do |student| %>
							<%= check_box_tag "student_ids[]",
								student.id,
								checked = false %>
							<%= student.personal_first_name %>
							<%= student.personal_last_name %><br>
						<% end
						end %>
					</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">Subject</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.text_field :subject, {id: "subject"} %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.text_area :message, {id: "message"} %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.submit "Notify" %>
			</td>
		</tr>
	</table>
<% end %>