<h1>Listing mentors</h1>

<table>
  <tr>
    <th>Mentor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentors.each do |mentor| %>
  <tr>
    <td><%= mentor.name %></td>
    <td><%= mentor.profile %></td>
    <td><%= link_to 'Show', mentor %></td>
    <td><%= link_to 'Edit', edit_mentor_path(mentor) %></td>
    <td><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New mentor', new_mentor_path %>
<%= link_to 'Choose your mentor', new_mentorship_path %>
