

<p>
  <img src="<%= @profile.picture %>">
</p>
<p>
<p>
  <b><a href="<%= @profile.linkedin_url%>">LinkedIn</a></b>
</p>

<p>
  <b>Mentor:</b>
  <%= @profile.name%>
</p>


  <b>Title</b>
  <%= @profile.title %>
</p>

<p>
  <b>Industry</b>
  <%= @profile.industry %>
</p>
<p>
  <b>Summary</b>
  <%= @profile.summary %>
</p>

<p>
  <b>Employment</b>
  <%= @profile.current_companies %>
  <%= @profile.past_companies %>
</p>

<p>
  <b>Education</b>
  <%= @profile.education %>
</p>


<p>
  <b>Open Spots:</b>
  <%= @mentor.capacity %>
</p>

<p>
  <b>Active:</b>
  <%= @mentor.active %>
</p>



<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
