<p id="notice"><%= notice %></p>

<p>
  <b>Mentor:</b>
  <%= @mentor.mentor_id %>
</p>

<p>
  <b>LinkedIn:</b>
  <%= @mentor.profile %>
</p>


<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
