<p id="notice"><%= notice %></p>


<p>
  <b>Mentor:</b>
  <%= @mentor.name %>
</p>

<p>
  <b>LinkedIn:</b>
  <%= @mentor.profile %>
</p>

<p>
  <b>LinkedIn:</b>
  <%= @profile %>
</p>

<p>
  <b>Status:</b>
  <%= @mentor.active %>
</p>

<p>
  <b>Capacity:</b>
  <%= @mentor.capacity %>
</p>



<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
