<%= form_for(@mentorship) do |f| %>
  <% if @mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
      <% @mentorship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.collection_select :student_id, Student.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :mentor_id %><br />
    <%= f.collection_select :mentor_id, Mentor.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
