<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @mentorship.student.name %>
</p>

<p>
  <b>Mentor:</b>
  <%= @mentorship.mentor.name %>
</p>


<%= link_to 'Edit', edit_mentorship_path(@mentorship) %> |
<%= link_to 'Back', mentorships_path %>
