<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @review.student %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
